{% extends 'app/base.html' %}
{% load static %}

{% block body_block %}
    <h1 id="main-title">Welcome to the {{ platform_name }}</h1>
    <div class="subtitle">
        The <b>{{platform_name}}</b> allows you to provide, improve, and moderate student feedback at scale.<br />
    </div>

    <div class="card-row">
        <ul>
            <li class="card">
                <h2>My Courses</h2>
                <div class="card-content">View and manage your courses.</div>
            </li>
            <li class="card">
                <h2>My Assignments</h2>
                <div class="card-content">View and manage your assignments.</div>
            </li>
        </ul>
    </div>
{% endblock %}