:root {
	--gray20: #333;
	--dark: #4d636d;
	--shadow: rgba(211, 211, 211, .5);
	--medium: #ddd;
	--medlight: #F5F8FB;
	--light: #dadbde;
	--red: #FF4E4E;
	--green: #518E4C;
	--medgreen: #80bf70;
	--lightgreen: #DAF7A6;
	--yellowgreen: #90b338;
	--darkblue: #003e74;
	--darkpaleblue: #2d3047;
	--blue: #3552BB;
	--paleblue: #66629B;
	--mediumblue: #637CC5;
	--lightblue: #A4B3DF;
	--medlightblue: #D8E1EE;
	--verylightblue: #EAEFFF;
	--darkorange: #FF560D;
	--orange: #FF9900;
	--lightorange: #FFB900;
	--yellow: #FFD600;
	--lightyellow: #f6eca0;
	--brightyellow: #FFF200;
	--brown: #683800;
}

html {
	background-color: var(--medlight);
}

html * {
    font-family: "Fira Sans", "Helvetica Neue", Arial, sans-serif;
	font-size: 14px;
	margin: 0px;
	padding: 0px;
	color: black;
}

body {
    background-color: var(--medlight);
    min-height: 100vh;
	display: flex;
	flex-direction: column;
}

header {
	width: 100%;
	max-width: 1440px;
    margin: 0 auto;
}

.main {
    overflow: hidden;
	width: 100%;
    max-width: 1400px;
    padding: 0px 20px;
    margin: 0 auto;
	flex: 1;
}

footer {
    background-color: var(--darkblue);
    color: white;
	line-height: 20px;
	position: relative;
    bottom: 0px;
    box-sizing: border-box;
}

.footer-content {
	width: 100%;
	max-width: 1400px;
    padding: 0 20px;
    margin: 0 auto;
	background-color: var(--darkblue);
}

.footer-left-align {
    padding: 10px 30px 20px 0;
    min-height: 170px;
    display: flex;
    flex-direction: column;
    justify-content: end;
}

.contacts {
    margin-top: 20px;
    color: white;
    box-sizing: border-box;
    bottom: auto;
    position:absolute;
}



.navbar, .navbar-bg {
	background-color: var(--darkblue);
	color: var(--light);
	position: fixed;
	top: 0px;
	display: flex;
	justify-content: space-between;
	width: 100%;
	height: 59px;
	line-height: 59px;
	overflow: hidden;
	white-space: nowrap;
}

.navbar-left-align {
	position: absolute;
	bottom: 0px;
	left: 20px;
	padding-left: 30px;
}

.navbar-right-align {
	text-align: right;
	pointer-events: none;
	position: absolute;
	bottom: 0px;
	right: 20px;
}

.navbar-left-align *, .navbar-right-align * {
	height: 13px;
	line-height: 13px;
	pointer-events: auto;
	display: block;
	font-size: 20px;
	float: right;
	margin-right: 30px;
}

.menu, .menu-bg {
    background-color: white;
    position: fixed;
	top: 59px;
    min-height: 40px;
    width: 100%;
    border-bottom: 1px solid var(--medium);
}

.logo {
	width: 200px;
    height: 50px;
    margin-top: 15px;
    display: block;
    text-indent: -250%;
    position: absolute;
}

#home-logo {
	bottom: 8px;
    left: 0px;
}

#footer-logo {
	top: -4px;
}

h1 {
	background-position: center center;
    background-size: cover;
    color: var(--gray20);
    padding-top: 130px;
	padding-bottom: 10px;
	font-size: 32px;
    font-weight: bold;
    line-height: 34px;
    margin: 0;
}

h2 {
	font-size: 18px;
    font-weight: bold;
    line-height: 20px;
    margin: 0;
	padding: 15px 0 10px;
    text-decoration: none;
}

p {
    display: block;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    unicode-bidi: isolate;
}

.subtitle {
	margin-top: 14px;
	margin-bottom: 50px;
}

.card-row {
	box-sizing: border-box;
	width: 102%;
	height: 100%;
	margin-top: 30px;
    margin-left: 0px;
	padding: 0;
	display: inline-block;
    vertical-align: top;
}

.card-row ul {
	width: 100%;
    list-style: none;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
}

.card-row li {
    margin-bottom: 20px;
    margin-right: 1.96%;
    max-width: 31.37%;
    width: 23.04%;
}

.card {
	border-radius: 6px;
	background-color: white;
    border: 1px solid var(--light);
    box-shadow: 0 1px 3px var(--shadow);
    padding: 15px;
    padding-right: 0;
	overflow: hidden;
}

.card-content {
	color: #4d636d;
    height: 57px;
    margin-top: 5px;
    overflow-x: hidden;
    padding-right: 15px;
}